In [2]:
import pandas as pd

In [3]:
pypoll = pd.read_csv('Resources/election_data.csv')

In [4]:
pypoll.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
pypoll.tail()

         Voter ID County Candidate
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

In [12]:
pypoll.Candidate.describe()

count     3521001
unique          4
top          Khan
freq      2218231
Name: Candidate, dtype: object

In [14]:
pypoll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521001 entries, 0 to 3521000
Data columns (total 3 columns):
Voter ID     int64
County       object
Candidate    object
dtypes: int64(1), object(2)
memory usage: 80.6+ MB